CodeRoyale/CodeRoyale/bin
CodeRoyale/CodeRoyale/obj 
CodeRoyale/CodeRoyaleTests/bin
CodeRoyale/CodeRoyaleTests/obj
CodeRoyale/.idea
CodeRoyale/CodeRoyale.sln.DotSettings.user
/CodeRoyale/.vs/CodeRoyale
